@font-face{
	font-family:'bilibili-helper';
	src:url('https://www.biliplus.com/style/bilibili-helper.eot?g1l381');
	src:url('https://www.biliplus.com/style/bilibili-helper.eot?#iefixg1l381') format('embedded-opentype'),url('https://www.biliplus.com/style/bilibili-helper.woff?g1l381') format('woff'),url('bilibili-helper.ttf?g1l381') format('truetype'),url('https://www.biliplus.com/style/bilibili-helper.svg?g1l381#bilibili-helper') format('svg');
	font-weight:normal;
	font-style:normal
}
[class^="icon-"],[class*=" icon-"]{
	font-family:'bilibili-helper' !important;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased
}
.icon-font-style:before{
	content:"\e60a"
}
.icon-color-mode:before{
	content:"\f065"
}
.icon-comment:before{
	content:"\f02b"
}
.icon-gear:before{
	content:"\f02f"
}
.icon-screen-full:before{
	content:"\f066"
}
.icon-screen-normal:before{
	content:"\f067"
}
.icon-screen:before{
	content:"\e600"
}
.icon-tv:before{
	content:"\e609"
}
.icon-play:before{
	content:"\e602"
}
.icon-pause:before{
	content:"\e603"
}
.icon-volume-high:before{
	content:"\e604"
}
.icon-volume-medium:before{
	content:"\e605"
}
.icon-volume-low:before{
	content:"\e606"
}
.icon-volume-mute:before{
	content:"\e607"
}
.icon-volume-mute2:before{
	content:"\e608"
}
.icon-loop:before{
	content:"\e601"
}
.icon-next{
	display:none;
}
.ABP-Unit, .ABP-Unit *{
	font-family:-apple-system,Arial,'PingFang SC','STHeiti Light','Hiragino Kaku Gothic ProN','Microsoft YaHei';
}
.ABP-Unit{
	position:relative;
	position:relative;
	color:#444;
	background:#fff;
	font-size:16px;
	outline:0;
	overflow:hidden
}
.ABP-Unit.ABP-FullScreen{
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:auto!important;
	height:auto!important;
	position:fixed;
	z-index:100000
}
.ABP-Unit .ABP-Player{
	position:relative;
	width:100%;
	height:100%
}
.ABP-Unit.ABP-FullScreen .ABP-Player,.ABP-Unit.ABP-WideScreen .ABP-Player,.ABP-Unit.ABP-Mini .ABP-Player{
	width:100%
}
.ABP-Unit .ABP-Video{
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
	right:0;
	bottom:44px;
	background:#000;
	outline:0;
	cursor:pointer;
	-webkit-appearance:none;
	-webkit-user-select:none
}
.ABP-Unit .ABP-Video.ABP-HideCursor{
	cursor:none
}
.ABP-Unit.ABP-Mini .ABP-Video{
	bottom:22px
}
.ABP-Unit.ABP-FullScreen .ABP-Video{
	bottom:0
}
.ABP-Unit .ABP-Video video{
	width:100%;
	height:100%;
	margin:0 auto
}
.ABP-Unit .ABP-Video video.scale{
	object-fit: fill
}
.ABP-Unit .ABP-Video .ABP-Container{
	position:absolute;
	display:block;
	overflow:hidden;
	margin:0;
	border:0;
	top:0;
	left:0;
	bottom:0;
	right:0;
	touch-callout:none;
	-webkit-user-select:none;
	transition:opacity .2s
}
.ABP-Unit .ABP-Video .ABP-Container .cmt{
	-webkit-transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	position:absolute;
	margin-top:3px;
	color:#fff;
	font-family:"Helvetica Neue",Helvetica,"Nimbus Sans L",Arial,"Liberation Sans","PingFang SC","Hiragino Sans GB","Source Han Sans CN","Source Han Sans SC","Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Zen Hei","ST Heiti",SimHei,"WenQuanYi Zen Hei Sharp",sans-serif;
	font-size:25px;
	font-weight:500;
	text-decoration:none;
	text-shadow:-1px 0 #000,0px 1px #000,1px 0 #000,0px -1px #000;
	-webkit-text-size-adjust:none;
	line-height:100%;
	letter-spacing:0;
	word-break:keep-all;
	white-space:pre
}
.ABP-Unit .ABP-Video .ABP-Container .cmt::after{
	content:attr(content);
	display:inline-block;
	position:absolute;
	left:0;
	vertical-align:middle;
	color:black;
	-webkit-text-stroke:2px black;
	z-index:-1
}
.ABP-Unit .ABP-Video .ABP-Container .cmt.noshadow::after{
	content:"";
	display:none
}
.ABP-Unit .ABP-Video .ABP-Container .cmt.rshadow{
	text-shadow:-1px 0 #FFF,0px 1px #FFF,1px 0 #FFF,0px -1px #FFF;
}
.ABP-Unit .ABP-Video .ABP-Container .cmt.rshadow::after{
	-webkit-text-stroke:1px white
}
.ABP-Unit .ABP-Bottom{
	-webkit-appearance:none;
	-webkit-user-select:none;
}
.ABP-Bottom .ABP-Bottom-Wrapper {
	transition: .2s ease-out;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.ABP-Unit.ABP-FullScreen .ABP-Video.ABP-HideCursor ~ .ABP-Bottom .ABP-Bottom-Wrapper {
	-webkit-transform: translateY(44px);
	transform: translateY(44px);
	opacity: 0;
}
.ABP-Unit.ABP-FullScreen .ABP-Player .ABP-Bottom:hover .ABP-Bottom-Wrapper {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}
.ABP-Title {
	height: 35px;
	font-size: 16px;
	color: #F3F3F3;
	font-weight: bold;
	text-align: left;
	position: absolute;
	padding: 5px 20px 0 20px;
	background: linear-gradient(to bottom,rgba(0,0,0,.6),rgba(0,0,0,.6) 25px,transparent);
	transition: .2s ease-out;
	display: none;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: calc(100% - 40px);
}
.ABP-FullScreen .ABP-Title:not(:empty) {
	display: block;
}
.ABP-Video.ABP-HideCursor ~ .ABP-Bottom .ABP-Title {
	-webkit-transform: translateY(-35px);
	transform: translateY(-35px);
}
@keyframes ABP-Tooltip{
	0%{
		transform:translateY(-5px);
		opacity:0
	}
	60%{
		transform:translateY(-5px);
		opacity:0
	}
	to{
		transform:translateY(0);
		opacity:1
	}
}
#ABP-Tooltip{
	position:absolute;
	font-size:12px;
	height:14px;
	color:#444;
	line-height:14px;
	background:rgba(255,255,255,.9);
	padding:2px 4px;
	white-space:nowrap;
	border-radius:2px;
	-webkit-box-shadow:0 3px 6px rgba(0,0,0,.4);
	box-shadow:0 3px 6px rgba(0,0,0,.4);
	pointer-events:none;
	-webkit-user-select:none;
	z-index:2;
	animation-name:ABP-Tooltip;
	animation-duration:.3s
}
.ABP-Unit .ABP-Text{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	background:#fff;
	height:20px;
	padding:0;
	border:1px solid #ececec
}
.ABP-Text form{
	margin:0
}
.ABP-Unit.ABP-Mini .ABP-Text{
	display:none
}
.ABP-Unit .button,.ABP-Unit .button-group{
	position:absolute;
	color:#a2a2a2;
	width:25px;
	text-align:center;
	line-height:20px;
	top:0;
	bottom:0;
	cursor:pointer;
	-webkit-transition:opacity .1s linear,color .1s linear;
	transition:opacity .1s linear,color .1s linear
}
.ABP-Unit .ABP-FullScreenGroup .ABP-Web-FullScreen{
	position:absolute;
	top:-22px;
	height:20px;
	outline:solid 1px #ececec;
	outline-bottom:none;
	background:#fff;
	opacity:0;
	margin-bottom:1px;
	pointer-events:none
}
body.ABP-FullScreen{
	overflow:hidden
}
.ABP-Unit.ABP-FullScreen .ABP-FullScreenGroup .ABP-Web-FullScreen{
	display:none
}
.ABP-Unit .ABP-FullScreenGroup .ABP-Web-FullScreen::after{
	content:" ";
	position:absolute;
	left:0;
	bottom:-2px;
	height:2px;
	width:100%
}
.ABP-Unit .ABP-FullScreenGroup:hover .ABP-Web-FullScreen{
	opacity:1;
	pointer-events:auto
}
.ABP-Unit .button.on{
	color:#585858
}
.ABP-Unit .button:hover{
	color:#f45a8d
}
.ABP-Unit .button:active{
	outline:solid 1px #0085b3;
	color:#fff;
	cursor:pointer;
	background-color:#00a1d8
}
.ABP-Unit .ABP-CommentStyle{
	width:80px;
	border-right:solid 1px #ececec
}
.ABP-Unit .ABP-CommentStyle .button,.ABP-Unit .ABP-CommentStyle .button-group{
	width:40px
}
.ABP-Unit .ABP-CommentStyle .ABP-Comment-FontGroup{
	left:0
}
.ABP-Unit .ABP-CommentStyle .ABP-Comment-Color-Display{
	position:absolute;
	width:12px;
	height:12px;
	top:4px;
	left:14px;
	background-color:#FFF
}
.ABP-Unit .ABP-CommentStyle .ABP-Comment-FontGroup .ABP-Comment-FontOption{
	width:200px;
	height:140px;
	background:rgba(255,255,255,.9);
	position:absolute;
	padding:10px;
	left:5px;
	bottom:25px;
	border-radius:5px;
	-webkit-box-shadow:0 0 10px rgba(0,0,0,.2);
	box-shadow:0 0 10px rgba(0,0,0,.2);
	-webkit-transition:opacity .1s ease-in-out;
	transition:opacity .1s ease-in-out;
	pointer-events:none;
	z-index:1;
	opacity:0;
	cursor:auto
}
.ABP-Unit .ABP-CommentStyle .ABP-Comment-FontOption .style-title{
	margin:0;
	text-align:left;
	color:#666;
	font-weight:bold;
	font-size:12px
}
.ABP-Unit .ABP-CommentStyle .ABP-Comment-FontOption .style-option{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	height:40px;
	line-height:64px;
	width:56px;
	font-size:10px;
	border-radius:5px;
	margin:4px 2px;
	border:solid 2px;
	cursor:pointer;
	-webkit-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out
}
.ABP-Unit .ABP-CommentStyle .ABP-Comment-FontOption .style-option:hover{
	color:#666
}
.ABP-Unit .ABP-CommentStyle .ABP-Comment-FontOption .style-option.on{
	color:#FFF;
	background-color:#666;
	border-color:#666
}
.ABP-Unit .ABP-CommentStyle .ABP-Comment-FontOption .style-option::after{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	line-height:30px
}
.ABP-Unit .ABP-CommentStyle .ABP-Comment-FontOption .style-select[name="commentFontSize"] .style-option[value="22"]::after{
	content:"A";
	font-size:18px
}
.ABP-Unit .ABP-CommentStyle .ABP-Comment-FontOption .style-select[name="commentFontSize"] .style-option[value="28"]::after{
	content:"A";
	font-size:25px
}
.ABP-Unit .ABP-CommentStyle .ABP-Comment-FontOption .style-select[name="commentMode"] .style-option::after{
	content:"\258a\258a\258a";
	font-size:6px;
	line-height:8px
}
.ABP-Unit .ABP-CommentStyle .ABP-Comment-FontOption .style-select[name="commentMode"] .style-option[value="5"]::after{
	top:4px
}
.ABP-Unit .ABP-CommentStyle .ABP-Comment-FontOption .style-select[name="commentMode"] .style-option[value="1"]::after{
	white-space:pre;
	content:"\25c0 \258a\258a\258a        \A        \25c0 \258a\258a\258a";
	font-size:6px;
	line-height:8px;
	top:6px
}
.ABP-Unit .ABP-CommentStyle .ABP-Comment-FontOption .style-select[name="commentMode"] .style-option[value="4"]::after{
	top:16px
}
.ABP-Unit .ABP-CommentStyle .ABP-Comment-ColorGroup{
	left:40px
}
.ABP-Unit .ABP-CommentStyle .ABP-Comment-ColorGroup .ABP-Comment-ColorOption{
	width:347px;
	height:170px;
	background:rgba(255,255,255,.9);
	position:absolute;
	left:5px;
	bottom:25px;
	border-radius:5px;
	-webkit-box-shadow:0 0 10px rgba(0,0,0,.2);
	box-shadow:0 0 10px rgba(0,0,0,.2);
	-webkit-transition:opacity .1s ease-in-out;
	transition:opacity .1s ease-in-out;
	pointer-events:none;
	z-index:1;
	opacity:0;
	cursor:auto
}
.ABP-Unit .ABP-CommentStyle .ABP-Comment-ColorGroup.on .ABP-Comment-ColorOption,.ABP-Unit .ABP-CommentStyle .ABP-Comment-FontGroup.on .ABP-Comment-FontOption{
	pointer-events:auto;
	opacity:1
}
.ABP-Unit .ABP-Text input.ABP-Comment-Input{
	position:absolute;
	color:#666;
	width:-webkit-calc(100% - 148px);
	width:calc(100% - 148px);
	-webkit-box-shadow:inset 0 5px 10px rgba(0,0,0,.07);
	box-shadow:inset 0 5px 10px rgba(0,0,0,.07);
	height:16px;
	padding:0;
	border:0;
	left:80px;
	outline:0;
	padding:2px 4px;
	-webkit-transition:-webkit-box-shadow .2s ease-in-out;
	transition:box-shadow .2s ease-in-out
}
.ABP-Unit .ABP-Text input.ABP-Comment-Input:focus{
	-webkit-box-shadow:inset 0 5px 5px rgba(0,0,0,.1);
	box-shadow:inset 0 5px 5px rgba(0,0,0,.1)
}
.ABP-Unit .ABP-Text input.ABP-Comment-Input[disabled]{
	background-color:#ddd;
	-webkit-box-shadow:none;
	box-shadow:none
}
.ABP-Unit .ABP-Text input.ABP-Comment-Input[disabled]+.ABP-Comment-Send{
	background-color:#0085b3;
	opacity:.3
}
.ABP-Unit .ABP-Text .ABP-Comment-Send{
	position:absolute;
	color:#fff;
	font-size:12px;
	text-align:center;
	right:-1px;
	width:60px;
	height:20px;
	line-height:22px;
	border:solid 1px #0085b3;
	border-top:0;
	cursor:pointer;
	background-color:#00a1d8;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out
}
.ABP-Unit .ABP-Text .ABP-Comment-Send:hover{
	background-color:#00ace3
}
.ABP-Unit .ABP-Text .ABP-Comment-Send:active{
	background-color:#00a1d8;
	-webkit-box-shadow:inset 0 0 5px #0085b3;
	box-shadow:inset 0 0 5px #0085b3
}
.ABP-Unit .ABP-Control{
	position:absolute;
	bottom:22px;
	left:0;
	right:0;
	background:#fff;
	border:1px solid #ececec;
	height:20px;
	-webkit-user-select:none;
	font-size:14px
}
.ABP-Unit.ABP-Mini .ABP-Control{
	bottom:0
}
.ABP-Unit .ABP-Control .button.ABP-Play{
	width:35px
}
.ABP-Unit .ABP-Control .ABP-Play{
	left:0
}
.ABP-Unit .ABP-Control .ABP-FullScreenGroup{
	right:0
}
.ABP-Unit .ABP-Control .ABP-CommentGroup{
	top:0;
	right:75px;
	bottom:0
}
.ABP-Unit.ABP-Mini .ABP-Control .ABP-CommentGroup{
	right:50px
}
.ABP-Unit .ABP-Control .ABP-PlaySpeedGroup{
	top:0;
	right:50px;
	bottom:0
}
.ABP-Unit.ABP-Mini .ABP-Control .ABP-PlaySpeedGroup{
	right:25px
}
.ABP-Unit .ABP-Control .ABP-Volume{
	top:0;
	right:165px;
	bottom:0
}
.ABP-Unit.ABP-Mini .ABP-Control .ABP-Volume{
	right:75px
}
.ABP-Unit .ABP-Control .ABP-Setting{
	top:0;
	right:25px;
	bottom:0
}
.ABP-Unit.ABP-Mini .ABP-Control .ABP-Setting{
	display:none;
}
.ABP-Unit .ABP-Control .ABP-WideScreen{
	display:none;
	top:0;
	right:25px;
	bottom:0
}
.ABP-Unit.ABP-FullScreen .ABP-Control .ABP-WideScreen,.ABP-Unit.ABP-Mini .ABP-Control .ABP-WideScreen{
	display:none
}
.ABP-Unit .ABP-Control .progress-bar{
	position:absolute;
	overflow:hidden;
	cursor:default;
	top:0;
	bottom:0;
	left:35px;
	background:#fff;
	border-left:1px solid #ececec;
	width:-webkit-calc(100% - 295px);
	width:calc(100% - 295px)
}
.ABP-Unit.ABP-Mini .ABP-Control .progress-bar{
	width:-webkit-calc(100% - 200px);
	width:calc(100% - 200px)
}
.ABP-Unit .ABP-Control .volume-bar{
	position:absolute;
	top:0;
	right:93px;
	bottom:0;
	width:80px
}
.ABP-Unit.ABP-Mini .ABP-Control .volume-bar{
	display:none
}
.ABP-Unit .bar{
	cursor:pointer;
	width:-webkit-calc(100% - 20px);
	width:calc(100% - 20px);
	position:absolute;
	left:10px;
	top:7px;
	bottom:0;
	height:6px;
	background:#949494;
	border-radius:6px
}
.ABP-Unit .bar::after{
	content:"";
	width:100%;
	height:18px;
	background-color:rgba(255,255,255,0);
	position:absolute;
	top:-6px;
	left:0
}
.ABP-Unit .bar .load,.ABP-Unit .bar .dark{
	position:absolute;
	height:0;
	height:100%;
	border-radius:6px
}
.ABP-Unit .bar .load{
	background:#00a0d8
}
.ABP-Unit .bar .dark{
	background:#007bb1
}
.ABP-Unit .bar .dark:before{
	position:absolute;
	top:-3px;
	right:-6px;
	width:12px;
	height:12px;
	background-color:#fff;
	border-radius:12px;
	-webkit-box-shadow:0 0 1px rgba(0,0,0,.5);
	box-shadow:0 0 1px rgba(0,0,0,.5);
	content:"";
	cursor:pointer
}
.ABP-Unit .bar .dark::after{
	position:absolute;
	right:-3px;
	width:6px;
	height:6px;
	background-color:#009fd6;
	border-radius:6px;
	-webkit-box-shadow:inset 0 0 1px rgba(0,0,0,.5);
	box-shadow:inset 0 0 1px rgba(0,0,0,.5);
	content:"";
	cursor:pointer
}
.ABP-Unit .ABP-Control .time-label{
	width:86px;
	font-size:11px;
	position:absolute;
	right:184px;
	text-align:center;
	line-height:22px;
	height:20px
}
.ABP-Unit.ABP-FullScreen .time-label{
	right:187px
}
.ABP-Unit.ABP-Mini .time-label{
	right:94px
}
.ABP-Unit .ABP-Control .time-jump{
	position:absolute;
	right:188px;
	height:15px;
	width:74px;
	outline:0;
	border:solid 1px #ccc;
	text-align:center
}
.ABP-Unit.ABP-Mini .ABP-Control .time-jump{
	right:96px
}
@keyframes scale-menu-show{
	0%{
		opacity:0
	}
	30%{
		opacity:1
	}
	70%{
		opacity:1
	}
	100%{
		opacity:0
	}
}
.ABP-Unit .BiliPlus-Scale-Menu {
	position: absolute;
	bottom: 49px;
	left: 5px;
	width: 200px;
	height: 70px;
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
	border: 1px solid #000;
	padding: 5px;
	opacity: 0;
	transition: opacity .5s;
	animation-duration:1.5s
}
.ABP-Unit.ABP-Mini .BiliPlus-Scale-Menu {
	bottom: 27px;
}
.ABP-Unit .BiliPlus-Scale-Menu:hover {
	opacity: 1;
}
.ABP-Unit .BiliPlus-Scale-Menu:after {
	content: " ";
	position: absolute;
	left: 0;
	bottom: -6px;
	height: 6px;
	width: 100%;
}
.BiliPlus-Scale-Menu .Video-Defination {
	height: 35px;
	border-bottom: 1px solid #666;
	position: relative;
}
.BiliPlus-Scale-Menu .Video-Defination div {
	width: 48px;
	height: 14px;
	color: #fff;
	text-align: center;
	padding: 9px 0;
	float: left;
	line-height: 14px;
	transition: all .2s;
	background: rgba(0,0,0,0);
	border-radius: 10px;
	margin: 0 2px 0 0;
	font-size: 14px;
	cursor: pointer;
}
.BiliPlus-Scale-Menu .Video-Defination div:hover {
	color:#000;
	background:rgba(255,255,255,.7);
}
.BiliPlus-Scale-Menu .Video-Defination div.on {
	color:#000;
	background:rgba(255,255,255,.7);
}
.BiliPlus-Scale-Menu .Video-Scale {
	height: 34px;
	position: relative;
}
.BiliPlus-Scale-Menu .Video-Scale div {
	width: 48px;
	height: 14px;
	color: #fff;
	text-align: center;
	padding: 9px 0;
	float: left;
	line-height: 14px;
	transition: all .2s;
	background: rgba(0,0,0,0);
	border-radius: 10px;
	margin: 4px 2px 0 0;
	font-size: 14px;
	cursor: pointer;
}
.BiliPlus-Scale-Menu .Video-Scale div:hover {
	color:#000;
	background:rgba(255,255,255,.7);
}
.BiliPlus-Scale-Menu .Video-Scale div.on {
	color:#000;
	background:rgba(255,255,255,.7);
}
.ABP-Unit .ABP-FullScreenProgress{
	position:absolute;
	left:0;
	bottom:-1px;
	height:1px;
	opacity:0;
	background:#40b5ff;
	border:solid #22648d;
	border-width:1px 0;
}
.ABP-Unit .ABP-FullScreenProgress:after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	height: 1px;
	width: 1px;
	box-shadow: -2px 4px 3px 5px #40b5ff;
}
.ABP-Unit.ABP-FullScreen .ABP-FullScreenProgress{
	opacity:1;
}
.ABP-Unit.ABP-FullScreen .ABP-Video.ABP-HideCursor+.ABP-FullScreenProgress{
	opacity:0;
}
@keyframes ABP-Popup{
	0%{
		transform:translateY(10px);
		opacity:0
	}
	to{
		transform:translateY(0);
		opacity:1
	}
}
.ABP-Unit .ABP-Popup{
	position:absolute;
	background:rgba(255,255,255,.9);
	color:#666;
	font-weight:bold;
	font-size:12px;
	border-radius:5px;
	left:10px;
	padding:5px 10px;
	bottom:52px;
	animation-name:ABP-Popup;
	animation-duration:.5s
}
.ABP-Unit .ABP-Comment-List{
	display:none;
	position:absolute;
	top:0;
	right:0;
	width:299px;
	height:-webkit-calc(100% - 2px);
	height:calc(100% - 2px);
	border:solid 1px #ccc;
	border-left:none
}
.ABP-Unit.ABP-FullScreen .ABP-Comment-List,.ABP-Unit.ABP-WideScreen .ABP-Comment-List,.ABP-Unit.ABP-Mini .ABP-Comment-List{
	display:none
}
.ABP-Unit .ABP-Player .ABP-Comment-List-Count{
	display:none;
	width:299px;
	background:rgba(248,248,248,.7);
	color:#6a6a6a;
	height:24px;
	line-height:24px;
	font-size:13px;
	border-bottom:solid 1px #ccc;
	cursor:default;
	position:absolute;
	right:0;
	top:0;
	opacity:0;
	transition:opacity .2s
}
.ABP-Unit .ABP-Player .ABP-Comment-List-Count:hover{
	opacity:1
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Count{
	width:100%;
	background:#f8f8f8;
	color:#6a6a6a;
	height:24px;
	line-height:24px;
	font-size:13px;
	border-bottom:solid 1px #ccc;
	cursor:default
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Title{
	width:100%;
	background:#f8f8f8;
	color:#6a6a6a;
	height:24px;
	line-height:24px;
	font-size:13px;
	border-bottom:solid 1px #ccc;
	cursor:pointer
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Title *{
	position:absolute;
	text-indent:6px;
	-webkit-transition:background .1s linear;
	transition:background .1s linear
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Title *:hover{
	background:#cde2fe
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Title *.asc::after{
	position:absolute;
	right:0;
	content:"\25b2"
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Title *.desc::after{
	position:absolute;
	right:0;
	content:"\25bc"
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Title .cmt-time{
	width:45px
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Title .cmt-content{
	left:45px;
	width:155px
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Title .cmt-date{
	left:200px;
	width:99px
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container{
	width:100%;
	height:-webkit-calc(100% - 50px);
	height:calc(100% - 50px);
	font-size:12px;
	line-height:24px;
	color:#666;
	overflow-y:scroll
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container::-webkit-scrollbar{
	width:10px;
	height:10px;
	margin:0
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container::-webkit-scrollbar-button{
	width:0;
	height:0
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container::-webkit-scrollbar-track{
	background:transparent
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container::-webkit-scrollbar-thumb{
	background:#ccc;
	border-radius:10px;
	min-height:20px
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container::-webkit-scrollbar-thumb:hover{
	background:#aaa
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container-Inner{
	padding:0;
	margin:0
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container li{
	position:relative;
	display:block;
	height:24px;
	overflow:hidden;
	cursor:default;
	-webkit-transition:background .1s linear;
	transition:background .1s linear
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container li:hover{
	background:#cbe0ff
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container li *{
	display:inline-block;
	position:relative;
	overflow:hidden;
	height:24px
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container li .cmt-time{
	text-align:center;
	width:50px
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container li .cmt-time.blocked{
	color:rgba(0,0,0,0);
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container li .cmt-time.blocked:before{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	color:#f00;
	content:'屏蔽';
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container li .cmt-content{
	width:155px
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container li .cmt-time.blocked+.cmt-content{
	color:#AAA;
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container li .cmt-date{
	width:75px
}
.ABP-Unit .ABP-Comment-List .ABP-Comment-List-Container li .cmt-time.blocked+.cmt-content+.cmt-date{
	color:#AAA;
}
@font-face{
	font-family:"\9ED1\4F53";
	src:local('SimHei')
}
@font-face{
	font-family:"\5B8B\4F53";
	src:local('SimSun')
}
@font-face{
	font-family:"\534E\6587\6977\4F53";
	src:local('SimKai')
}
@font-face{
	font-family:"\5E7C\5706";
	src:local('YouYuan')
}
@font-face{
	font-family:"\5FAE\8F6F\96C5\9ED1";
	src:local('Microsoft YaHei')
}
.colpick{
	position:absolute;
	width:346px;
	height:170px;
	overflow:hidden;
	display:none;
	font-family:Arial,Helvetica,sans-serif;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none
}
.colpick_color{
	position:absolute;
	left:7px;
	top:7px;
	width:156px;
	height:156px;
	overflow:hidden;
	outline:1px solid #aaa;
	cursor:crosshair
}
.colpick_color_overlay1{
	position:absolute;
	left:0;
	top:0;
	width:156px;
	height:156px;
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff', endColorstr='#00ffffff')";
	background:-moz-linear-gradient(left,rgba(255,255,255,1) 0,rgba(255,255,255,0) 100%);
	background:-webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,1)),color-stop(100%,rgba(255,255,255,0)));
	background:-webkit-linear-gradient(left,rgba(255,255,255,1) 0,rgba(255,255,255,0) 100%);
	background:-o-linear-gradient(left,rgba(255,255,255,1) 0,rgba(255,255,255,0) 100%);
	background:-ms-linear-gradient(left,rgba(255,255,255,1) 0,rgba(255,255,255,0) 100%);
	background:linear-gradient(to right,rgba(255,255,255,1) 0,rgba(255,255,255,0) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff',endColorstr='#00ffffff')
}
.colpick_color_overlay2{
	position:absolute;
	left:0;
	top:0;
	width:156px;
	height:156px;
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00000000', endColorstr='#000000')";
	background:-moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,1) 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,1)));
	background:-webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,1) 100%);
	background:-o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,1) 100%);
	background:-ms-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,1) 100%);
	background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,1) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#000000',GradientType=0)
}
.colpick_selector_outer{
	background:0;
	position:absolute;
	width:11px;
	height:11px;
	margin:-6px 0 0 -6px;
	border:1px solid black;
	border-radius:50%
}
.colpick_selector_inner{
	position:absolute;
	width:9px;
	height:9px;
	border:1px solid white;
	border-radius:50%
}
.colpick_hue{
	position:absolute;
	top:6px;
	left:175px;
	width:19px;
	height:156px;
	border:1px solid #aaa;
	cursor:ns-resize
}
.colpick_hue_arrs{
	position:absolute;
	left:-8px;
	width:35px;
	height:7px;
	margin:-7px 0 0 0
}
.colpick_hue_larr{
	position:absolute;
	width:0;
	height:0;
	border-top:6px solid transparent;
	border-bottom:6px solid transparent;
	border-left:7px solid #858585
}
.colpick_hue_rarr{
	position:absolute;
	right:0;
	width:0;
	height:0;
	border-top:6px solid transparent;
	border-bottom:6px solid transparent;
	border-right:7px solid #858585
}
.colpick_new_color{
	position:absolute;
	left:207px;
	top:6px;
	width:60px;
	height:27px;
	background:#f00;
	border:1px solid #8f8f8f
}
.colpick_current_color{
	position:absolute;
	left:277px;
	top:6px;
	width:60px;
	height:27px;
	background:#f00;
	border:1px solid #8f8f8f
}
.colpick_field,.colpick_hex_field{
	position:absolute;
	height:20px;
	width:60px;
	overflow:hidden;
	background:#f3f3f3;
	color:#b8b8b8;
	font-size:12px;
	border:1px solid #bdbdbd;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
}
.colpick_rgb_r{
	top:40px;
	left:207px
}
.colpick_rgb_g{
	top:67px;
	left:207px
}
.colpick_rgb_b{
	top:94px;
	left:207px
}
.colpick_hsb_h{
	top:40px;
	left:277px
}
.colpick_hsb_s{
	top:67px;
	left:277px
}
.colpick_hsb_b{
	top:94px;
	left:277px
}
.colpick_hex_field{
	width:68px;
	left:207px;
	top:121px
}
.colpick_focus{
	border-color:#999
}
.colpick_field_letter{
	position:absolute;
	width:12px;
	height:20px;
	line-height:20px;
	padding-left:4px;
	background:#efefef;
	border-right:1px solid #bdbdbd;
	font-weight:bold;
	color:#777
}
.colpick_field input,.colpick_hex_field input{
	position:absolute;
	right:11px;
	margin:0;
	padding:0;
	height:20px;
	line-height:20px;
	background:transparent;
	border:0;
	font-size:12px;
	font-family:Arial,Helvetica,sans-serif;
	color:#555;
	text-align:right;
	outline:0
}
.colpick_hex_field input{
	right:4px
}
.colpick_field_arrs{
	position:absolute;
	top:0;
	right:0;
	width:9px;
	height:21px;
	cursor:ns-resize
}
.colpick_field_uarr{
	position:absolute;
	top:5px;
	width:0;
	height:0;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-bottom:4px solid #959595
}
.colpick_field_darr{
	position:absolute;
	bottom:5px;
	width:0;
	height:0;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-top:4px solid #959595
}
.colpick_submit{
	position:absolute;
	left:207px;
	top:149px;
	width:130px;
	height:22px;
	line-height:22px;
	background:#efefef;
	text-align:center;
	color:#555;
	font-size:12px;
	font-weight:bold;
	border:1px solid #bdbdbd;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
}
.colpick_submit:hover{
	background:#f3f3f3;
	border-color:#999;
	cursor:pointer
}
.colpick_full_ns .colpick_submit,.colpick_full_ns .colpick_current_color{
	display:none
}
.colpick_full_ns .colpick_new_color{
	width:130px;
	height:25px
}
.colpick_full_ns .colpick_rgb_r,.colpick_full_ns .colpick_hsb_h{
	top:42px
}
.colpick_full_ns .colpick_rgb_g,.colpick_full_ns .colpick_hsb_s{
	top:73px
}
.colpick_full_ns .colpick_rgb_b,.colpick_full_ns .colpick_hsb_b{
	top:104px
}
.colpick_full_ns .colpick_hex_field{
	top:135px
}
.colpick_rgbhex .colpick_hsb_h,.colpick_rgbhex .colpick_hsb_s,.colpick_rgbhex .colpick_hsb_b{
	display:none
}
.colpick_rgbhex{
	width:282px
}
.colpick_rgbhex .colpick_field,.colpick_rgbhex .colpick_submit{
	width:68px
}
.colpick_rgbhex .colpick_new_color{
	width:34px;
	border-right:0
}
.colpick_rgbhex .colpick_current_color{
	width:34px;
	left:240px;
	border-left:none
}
.colpick_rgbhex_ns .colpick_submit,.colpick_rgbhex_ns .colpick_current_color{
	display:none
}
.colpick_rgbhex_ns .colpick_new_color{
	width:68px;
	border:1px solid #8f8f8f
}
.colpick_rgbhex_ns .colpick_rgb_r{
	top:42px
}
.colpick_rgbhex_ns .colpick_rgb_g{
	top:73px
}
.colpick_rgbhex_ns .colpick_rgb_b{
	top:104px
}
.colpick_rgbhex_ns .colpick_hex_field{
	top:135px
}
.colpick_hex .colpick_hsb_h,.colpick_hex .colpick_hsb_s,.colpick_hex .colpick_hsb_b,.colpick_hex .colpick_rgb_r,.colpick_hex .colpick_rgb_g,.colpick_hex .colpick_rgb_b{
	display:none
}
.colpick_hex{
	width:206px;
	height:201px
}
.colpick_hex .colpick_hex_field{
	width:72px;
	height:25px;
	top:168px;
	left:80px
}
.colpick_hex .colpick_hex_field div,.colpick_hex .colpick_hex_field input{
	height:25px;
	line-height:25px
}
.colpick_hex .colpick_new_color{
	left:9px;
	top:168px;
	width:30px;
	border-right:0
}
.colpick_hex .colpick_current_color{
	left:39px;
	top:168px;
	width:30px;
	border-left:none
}
.colpick_hex .colpick_submit{
	left:164px;
	top:168px;
	width:30px;
	height:25px;
	line-height:25px
}
.colpick_hex_ns .colpick_submit,.colpick_hex_ns .colpick_current_color{
	display:none
}
.colpick_hex_ns .colpick_hex_field{
	width:80px
}
.colpick_hex_ns .colpick_new_color{
	width:60px;
	border:1px solid #8f8f8f
}
.colpick_dark{
	background:#161616;
	border-color:#2a2a2a
}
.colpick_dark .colpick_color{
	outline-color:#333
}
.colpick_dark .colpick_hue{
	border-color:#555
}
.colpick_dark .colpick_field,.colpick_dark .colpick_hex_field{
	background:#101010;
	border-color:#2d2d2d
}
.colpick_dark .colpick_field_letter{
	background:#131313;
	border-color:#2d2d2d;
	color:#696969
}
.colpick_dark .colpick_field input,.colpick_dark .colpick_hex_field input{
	color:#7a7a7a
}
.colpick_dark .colpick_field_uarr{
	border-bottom-color:#696969
}
.colpick_dark .colpick_field_darr{
	border-top-color:#696969
}
.colpick_dark .colpick_focus{
	border-color:#444
}
.colpick_dark .colpick_submit{
	background:#131313;
	border-color:#2d2d2d;
	color:#7a7a7a
}
.colpick_dark .colpick_submit:hover{
	background-color:#101010;
	border-color:#444
}
.shield{
	width:300px;
	height:400px;
	background:#666;
	color:#FFF;
	position:absolute;
	opacity:.7;
	left:calc(50% - 150px);
	top:calc(50% - 200px);
	visibility:visible;
	z-index:100001;
	font-family:-apple-system,Arial,"Microsoft YaHei"
}
.shield.hidden{
	visibility:hidden
}
.shield_top{
	border-bottom:1px solid #000;
	font-size:14px;
	line-height:14px;
	padding:2px 5px
}
.shield_top .close::before{
	content:"×"
}
.shield_top .close{
	position:absolute;
	right:5px;
	top:3px;
	cursor:pointer
}
.shield_tabs {
	display: flex;
	text-align: center;
	height: 30px;
	margin: 10px 10px 0;
	font-weight: bold;
	cursor:pointer;
}
.shield_tab {
	width: 25%;
}
.shield_tab>div{
	display:inline
}
.shield_tab_slash {
	position: absolute;
	background: #FFF;
	height: 5px;
	top: 50px;
	transition:left .3s,width .3s
}
.shield_body{
	border:1px solid #000;
	position:absolute;
	top:60px;
	bottom:10px;
	left:10px;
	right:10px;
	background:#333;
	overflow:hidden
}
.shield_body_wrapper {
	height: 100%;
	width: 405%;
	transition:transform .3s;
	display:-webkit-flex;
	display:flex;
	-webkit-flex-direction:row;
	flex-direction:row
}
.shield_tab_body {
	height: 100%;
	overflow: auto;
	width: 278px;
}
.shield_item{
	width:100%;
	height:17px;
	border-bottom:1px solid #000;
	font-size:13px;
	line-height:15px;
	position:relative
}
.shield_item .text{
	padding:2px 4px;
	margin-right:15px;
	height:13px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:pre
}
.shield_item .delete::before{
	content:"—"
}
.shield_item .delete{
	width:15px;
	position:absolute;
	right:0;
	top:3px;
	cursor:pointer
}
.shield_item .new{
	background:0;
	border:0;
	margin-left:4px;
	width:calc(100% - 21px);
	color:#BBB
}
.shield_item .add::before{
	content:"＋"
}
.shield_item .add{
	width:15px;
	position:absolute;
	right:0;
	top:3px;
	cursor:pointer
}
.shield_color{
	width:100%;
	height:17px;
	border-bottom:1px solid #000;
	font-size:13px;
	line-height:15px;
	position:relative;
	cursor:default;
}
.shield_color .color{
	position: absolute;
	left: 9px;
	top: 2px;
	bottom: 2px;
	width: 38px;
	border: 1px solid #000;
	color:transparent;
}
.shield_color .delete::before{
	content:"—"
}
.shield_color .delete{
	width:15px;
	position:absolute;
	right:0;
	top:3px;
	cursor:pointer
}
.shield_toggle {
	padding: 10px;
	padding-left: 40px;
	cursor: pointer;
	position: relative;
}
.shield_toggle::before {
	content: "";
	border: #FFF 2px solid;
	position: absolute;
	left: 17px;
	top: 13px;
	width: 14px;
	height: 14px;
	border-radius: 10px;
}
.shield_toggle::after {
	content: "";
	background: #FFF;
	position: absolute;
	left: 26px;
	top: 22px;
	width: 0px;
	height: 0px;
	border-radius: 10px;
	transition:all .3s
}
.shield_toggle.on::after {
	left: 22px;
	top: 18px;
	width: 8px;
	height: 8px;
}
.shield_slide {
	height: 6px;
	width: 70%;
	margin: 0 0 10px 5px;
	background: #000;
	border-radius: 3px;
	position: relative;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}
.shield_slide .fill {
	position: absolute;
	left: 0;
	top: 0;
	height: 6px;
	background: #FFF;
	width: 0;
	border-radius: 3px;
}
.shield_slide .button {
	position: absolute;
	left: 0;
	top: 0;
	width:0;
	height:0;
}
.shield_slide .button::after {
	position: absolute;
	left: -6px;
	top: -6px;
	height: 15px;
	background: #FFF;
	width: 15px;
	border-radius: 8px;
	border: 1px solid #000;
	content: "";
}
.shield_slide .slide_info {
	display: inline;
	position: absolute;
	right: -68px;
	top: -9px;
	font-size: 13px;
	line-height: 16px;
	padding-top: 3px;
}
@media screen and (max-height:400px){
	.shield{
		height:200px;
		top:calc(50% - 100px)
	}
}
.Context-Menu {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	display: none;
	z-index:1
}
.Context-Menu-Background {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.Context-Menu-Body {
	width: 150px;
	color: #DDD;
	position: absolute;
	font-size:14px;
	max-height:100%
}
.Context-Menu-Body *{
	line-height:17px
}
.Context-Menu-Body>div {
	padding: 10px;
	background: rgba(0,0,0,.6);
	transition: all .2s;
	cursor:pointer;
	position:relative
}
.Context-Menu-Body>div.about {
	cursor:default;
	color:#AAA
}
.Context-Menu-Body>div:hover {
	background: rgba(255,255,255,.8);
	color: #222;
}
.Context-Menu-Body>.dm>.content {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding:0;
	background:none;
}
.Context-Menu-Body>div.dm::after {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAkCAYAAACJ8xqgAAABV0lEQVRIia3WXytEQRgG8PkcO/M+z/z5aEoppUREUkIUm7CsVm2bXMhyQSQSvthyoWXOuZx3Tp3bX89z5vS+Y4wxJgCPQfyXqfEEYJzov39ffqjBaGUxCCZTNABv+pTkco4m8S/6pMBqjkbwSY3SynqjvvgHNeqd22wkdbyvkNRutQ5qrEaDcCdHvciNGo0d7E3RCE6i47U+qeVBjgbgSo16sttIKjJUowk4biR1cqlGA9mbokEw8cCFGo0i/RyN5JkaTcAgRxNwXCPpMIJ/KGugXmSUo57sqsDk5CSvHpycFmPRuaPG4YicF2OBPMwx1feL8PuNmmSvGIPIbqtmvxgLwu3WvzcoxvIprh4OSbiRY15kVIzR2rVqA9YDK9VWQCCXWkvqthgDsFBtjbLD+WqLPlo7V+0qEoDZapcldjjTqvlajBljTHS8+6+JdxWWoc+J/rOG9QNQa80wbFp1UAAAAABJRU5ErkJggg==");
	content: "";
	position: absolute;
	right: 5px;
	top:10px;
	height: 18px;
	width: 10px;
	background-size: 10px 18px;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}
.Context-Menu-Body>div.dm:hover:after {
	-webkit-filter: invert(0%);
	filter: invert(0%);
}
.Context-Menu-Body>.dm>.dmMenu {
	position: absolute;
	left: 100%;
	top: 0;
	width: 150px;
	display: none;
	padding:0;
	word-break:break-all;
}
.Context-Menu-Body>.dm:hover>.dmMenu {
	display: block;
}
.Context-Menu-Body>.dm>.dmMenu>div {
	padding: 10px;
	background: rgba(0,0,0,.6);
	transition: all .2s;
	cursor: pointer;
	position: relative;
	color: #DDD;
}
.Context-Menu-Body > .dm > .dmMenu .color {
	position: absolute;
	right: 9px;
	top: 9px;
	bottom: 9px;
	width: 38px;
	border: 1px solid #000;
}
.Context-Menu-Body>.dm>.dmMenu>div:hover {
	background: rgba(255,255,255,.8);
	color: #222;
}
.Player-Stats {
	position: absolute;
	left: 10px;
	top: 10px;
	min-width: 300px;
	font-size: 12px;
	background: rgba(0,0,0,.7);
	padding: 20px;
	border-radius: 10px;
	color: #ccc;
	cursor:default;
	display:none;
	z-index:1
}
.Player-Stats *{
	font-size:inherit
}
.Player-Stats #stats-close {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 20px;
	height: 20px;
	line-height:20px;
	text-align: center;
	cursor: pointer;
	font-size:20px
}
.stats-column {
	width: 180px;
	height: 20px;
	display: inline-block;
	margin:0 5px 2px 0;
	vertical-align:middle
}
.stats_name {
	width: 115px;
	display: inline-block;
	text-align: right;
}
#buffer-clips{
	width:180px;
	height:5px;
	display:inline-block;
	position:relative;
	border:solid #AAA 1px;
	vertical-align:middle;
	margin-right:2px
}
#buffer-clips>span{
	position:absolute;
	left:2px;
	right:2px;
	top:1px;
	bottom:1px;
	transition:width .3s;
}
.buffer-clip{
	position:absolute;
	top:0;
	bottom:0;
	background:#CCC;
}
#info-box{
	width:100%;
	height:100%;
	text-align:center;
	background:rgba(0,0,0,0.6);
	position:absolute;
	color:#FFF;
	transition:.5s
}
#info-box .text-wrapper {
	position: absolute;
	left: 0;
	bottom: calc(50% - 50px);
	text-align: center;
	width: 100%;
	font-size:16px;
	line-height:16px;
}
#info-box #dots {
	position: absolute;
	left: calc(50% - 23px);
	top: calc(50% - 23px);
	width: 46px;
	height: 46px;
	opacity: .8;
}
.Drag-Control {
	display:none;
	position: absolute;
	width: 120px;
	height: 60px;
	border-radius: 10px;
	background: rgba(0,0,0,.7);
	padding: 10px 0;
	text-align: center;
	color: #EEE;
	left: calc(50% - 60px);
	top: calc(50% - 40px);
	font-size: 14px;
}
.Drag-Icon{
	margin:0 auto;
	height:20px;
}
.Drag-Icon.forward{
	background-image:url('data:image/svg+xml,<svg%20xmlns="http://www.w3.org/2000/svg"><path%20style="fill:rgb(255,255,255)"%20d="M0,0L12,6L12,0L32,10L12,20L12,14L0,20z"%20/></svg>');
	width:32px;
}
.Drag-Icon.rewind{
	background-image:url('data:image/svg+xml,<svg%20xmlns="http://www.w3.org/2000/svg"><path%20style="fill:rgb(255,255,255)"%20d="M32,0L20,6L20,0L0,10L20,20L20,14L32,20z"%20/></svg>');
	width:32px;
}
.Drag-Icon.cancel{
	background-image:url('data:image/svg+xml,<svg%20xmlns="http://www.w3.org/2000/svg"%20style="stroke-width:3px;stroke:rgb(255,255,255);fill:none"><circle%20cx="10"%20cy="10"%20r="8"%20/><path%20d="M3.5355,3.5355L16.4645,16.4645"%20/></svg>');
	width:20px;
}
.Drag-Time-Bar {
	position: relative;
	width: 90%;
	height: 2px;
	background: #666;
	top: 3px;
	left: 5%;
}
.Drag-Time-Bar .fill{
	background:#00a0d8;
	height:2px;
	width:0
}
.ABP-Settings{
	position:absolute;
	top:0;
	bottom:44px;
	right:0;
	width:0;
	background:#FFF;
	border:none;
	transition:width .3s;
	overflow:hidden;
	cursor:default
}
.ABP-Settings.expand{
	border:solid 1px #ccc;
	width:300px
}
.ABP-Mini .ABP-Settings{
	display:none
}
.ABP-Settings>:first-child{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	width:300px;
	height:100%;
	overflow-y:auto;
	-webkit-overflow-scrolling:touch
}
.ABP-Settings-Top{
	width:100%;
	height:30px;
	border-bottom:3px solid #ccc;
	background:#FAFAFA
}
.ABP-Settings-Close {
	margin-left: 8px;
	line-height: 30px;
	font-size: 40px;
	color: #888;
	cursor:pointer;
	display:inline
}
.ABP-Settings-Container{
	margin:5px 10px
}
.ABP-Unit .ABP-Settings .label{
	margin:0;
	text-align:left;
	color:#666;
	font-weight:bold;
	font-size:12px;
	position:relative
}
.ABP-Unit .ABP-Settings .label.big{
	font-size:16px;
	margin-top:10px
}
.ABP-Unit .ABP-Settings .label.prop{
	line-height:24px;
	padding-left:25px
}
.ABP-Unit .ABP-Settings .shield-enrty{
	border-radius:5px;
	border:1px solid #000;
	color:#666;
	font-weight:bold;
	cursor:pointer;
	padding:2px 0;
	text-align:center
}
.ABP-Unit .ABP-Settings .opacity-bar,.ABP-Unit .ABP-Settings .scale-bar,.ABP-Unit .ABP-Settings .speed-bar{
	position:relative;
	height:10px;
	margin-bottom:8px
}
.ABP-Unit .ABP-Settings .scale-bar{
	width:auto
}
.ABP-Unit .ABP-Settings .prop-checkbox{
	position:absolute;
	top:2px;
	left:0px;
	width:16px;
	height:16px;
	border-radius:5px;
	background-color:#ccc;
	border:solid 2px #949494;
	cursor:pointer;
	-webkit-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out
}
.ABP-Unit .ABP-Settings .prop-checkbox:hover{
	background-color:#ddd
}
.ABP-Unit .ABP-Settings .prop-checkbox.on{
	border-color:#00a0d8;
	background-color:#ddd
}
.ABP-Unit .ABP-Settings .prop-checkbox.on::after{
	content:"";
	background-color:#00a0d8;
	position:absolute;
	left:2px;
	top:2px;
	border-radius:2px;
	width:12px;
	height:12px
}
.ABP-Unit .ABP-Settings .opacity-bar .bar,.ABP-Unit .ABP-Settings .scale-bar .bar,.ABP-Unit .ABP-Settings .speed-bar .bar{
	width:100%;
	top:2px;
	left:0
}
.ABP-Unit .ABP-Settings::after{
	content:" ";
	position:absolute;
	left:0;
	bottom:-5px;
	height:5px;
	width:100%
}
.ABP-Unit .ABP-Settings .playSpeed-bar{
	position:relative;
	height:10px;
	margin-bottom:8px
}
.ABP-Unit .ABP-Settings .playSpeed-bar .bar{
	width:100%;
	top:2px;
	left:0
}
.ABP-Unit .ABP-Settings .play-speed-reset{
	border-radius:5px;
	border:1px solid #000;
	color:#666;
	font-weight:bold;
	cursor:pointer;
	padding:2px 0;
	text-align:center
}
#blockVisitor{
	display:none
}

.ABP-Unit[theme="YouTube"] .ABP-Video {
	bottom:0
}
.ABP-Unit[theme="YouTube"] .ABP-Video.ABP-HideCursor ~ .ABP-Bottom .ABP-Bottom-Wrapper {
    transform: translateY(44px);
    opacity: 0;
}
.ABP-Unit[theme="YouTube"] .ABP-Player .ABP-Bottom:hover .ABP-Bottom-Wrapper {
	transform: translateY(0);
	opacity: 1;
}
.ABP-Unit[theme="YouTube"] .ABP-Bottom-Wrapper{
	height:80px;
    background: linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0));
}
.ABP-Unit[theme="YouTube"] .ABP-Control {
	bottom: 0;
    height: 50px;
    padding: 20px 10px 0;
	border: none;
	background:transparent
}
.ABP-Unit[theme="YouTube"] .ABP-Control .button {
	top: unset;
    bottom: 5px;
    font-size: 22px;
    line-height: 40px;
    color: rgba(255,255,255,.8);
}
.ABP-Unit[theme="YouTube"] .ABP-Control .progress-bar{
	background: transparent;
    border: none;
    top: 0;
    left: 5px;
    right: 5px;
	width: unset;
	height:20px
}
.ABP-Unit[theme="YouTube"] .ABP-Control .progress-bar .bar{
	background:rgba(255,255,255,.2)
}
.ABP-Unit[theme="YouTube"] .ABP-Control .progress-bar .bar .load{
	background:rgba(255,255,255,.4)
}
.ABP-Unit[theme="YouTube"] .ABP-Control .progress-bar .dark:before{
	width:0;
	height:0;
	top:3px;
	right:0;
	transition:.5s;
}
.ABP-Unit[theme="YouTube"] .ABP-Control .progress-bar:hover .dark:before{
	top: -3px;
    right: -6px;
    width: 12px;
    height: 12px;
}
.ABP-Unit[theme="YouTube"] .ABP-Control .progress-bar .dark:after{
	width:0;
	height:0;
	right:0;
	top:3px;
	transition:.5s;
}
.ABP-Unit[theme="YouTube"] .ABP-Control .progress-bar:hover .dark:after{
	right: -3px;
	width: 6px;
	top:0;
    height: 6px;
}
.ABP-Unit[theme="YouTube"] .ABP-Control .button.ABP-Play{
	left: 12px;
	font-size:36px;
	bottom:6px;
}
.ABP-Unit[theme="YouTube"] .ABP-Control .button.ABP-Volume{
	left:58px
}
.ABP-Unit[theme="YouTube"] .ABP-Control .volume-bar{
	left: 80px;
    top: unset;
    height: 36px;
    margin-top: 14px;
    width: 0;
    transition: .2s width;
}
.ABP-Unit[theme="YouTube"] .ABP-Control .time-label{
    left: 80px;
    line-height: 40px;
    bottom: 6px;
    height: 40px;
    color: #FFF;
    font-size: 15px;
	width: 126px;
	transition:left .2s
}
.ABP-Unit[theme="YouTube"] .ABP-Control .time-jump{
	right: unset;
    left: 90px;
    line-height: 40px;
    bottom: 12px;
    height: 24px;
    font-size: 16px;
    width: 104px;
    transition: left .2s;
}
.ABP-Unit.volume-show[theme="YouTube"]:not(.ABP-Mini) .ABP-Control .time-label{
	left:145px;
}
.ABP-Unit.volume-show[theme="YouTube"]:not(.ABP-Mini) .ABP-Control .time-jump{
	left:155px;
}
.ABP-Unit.volume-show[theme="YouTube"]:not(.ABP-Mini) .ABP-Control .volume-bar{
	width:80px;
}
.ABP-Unit[theme="YouTube"] .ABP-Control .button-group{
	top:unset
}
.ABP-Unit[theme="YouTube"] .ABP-Control .button-group.ABP-FullScreenGroup{
	right: 10px
}
.ABP-Unit[theme="YouTube"] .ABP-Control .button.ABP-Web-FullScreen{
	background: transparent;
    opacity: 1;
    bottom: 3px;
    outline: none;
    height: 40px;
    right: 30px;
    font-size: 22px;
    display: block;
    pointer-events: auto;
}
.ABP-Unit[theme="YouTube"] .ABP-Control .button.ABP-Setting{
	right:70px
}
.ABP-Unit[theme="YouTube"] .ABP-Control .button-group.ABP-PlaySpeedGroup{
	right:100px;
}
.ABP-Unit[theme="YouTube"] .ABP-Control .button-group.ABP-CommentGroup{
	right:130px;
}
.ABP-Unit.ABP-Mini[theme="YouTube"] .ABP-Control .button.ABP-Web-FullScreen,
.ABP-Unit.ABP-FullScreen[theme="YouTube"] .ABP-Control .button.ABP-Web-FullScreen{
	display:none;
}
.ABP-Unit.ABP-FullScreen[theme="YouTube"] .ABP-Control .button.ABP-Setting{
	right:40px
}
.ABP-Unit.ABP-FullScreen[theme="YouTube"] .ABP-Control .button-group.ABP-PlaySpeedGroup{
	right:70px;
}
.ABP-Unit.ABP-FullScreen[theme="YouTube"] .ABP-Control .button-group.ABP-CommentGroup{
	right:100px;
}
.ABP-Unit.ABP-Mini[theme="YouTube"] .ABP-Control .button-group.ABP-PlaySpeedGroup{
	right:40px;
}
.ABP-Unit.ABP-Mini[theme="YouTube"] .ABP-Control .button-group.ABP-CommentGroup{
	right:70px;
}
.ABP-Unit[theme="YouTube"] .ABP-Control .button.on{
	color:#FFF
}
.ABP-Unit[theme="YouTube"] .ABP-Control .button:active{
	background: transparent;
	outline:none;
	color:rgb(0, 161, 216);
}
.ABP-Unit[theme="YouTube"] .BiliPlus-Scale-Menu{
	bottom:70px
}
.ABP-Unit[theme="YouTube"] .ABP-Settings{
	bottom:68px
}
.ABP-Unit[theme="YouTube"] .ABP-Text {
	z-index: 1;
    left: 205px;
    right: 170px;
    bottom: 10px;
    height: 30px;
    border-radius: 10px;
    background: rgba(255,255,255,.4);
	border: none;
	transition:left .2s
}
.ABP-Unit.hide-comment[theme="YouTube"] .ABP-Text {
	display:none
}
.ABP-Unit.volume-show[theme="YouTube"]:not(.ABP-Mini) .ABP-Text{
	left:260px
}
.ABP-Unit.ABP-FullScreen[theme="YouTube"] .ABP-Text {
	right: 140px;
}
.ABP-Unit[theme="YouTube"] .ABP-Text .button{
	line-height:30px
}
.ABP-Unit[theme="YouTube"] .ABP-Text .ABP-Comment-FontOption,
.ABP-Unit[theme="YouTube"] .ABP-Text .ABP-Comment-ColorOption{
	bottom:32px;
	left:0
}
.ABP-Unit[theme="YouTube"] .ABP-Text .ABP-Comment-Color-Display{
	display:none
}
.ABP-Unit[theme="YouTube"] .ABP-Text input.ABP-Comment-Input{
	height: calc(100% - 4px);
    opacity: .7;
    line-height: 30px;
}
.ABP-Unit[theme="YouTube"] .ABP-Text input.ABP-Comment-Input:focus,
.ABP-Unit[theme="YouTube"] .ABP-Text input.ABP-Comment-Input:hover:not(:disabled){
	opacity:1
}
.ABP-Unit[theme="YouTube"] .ABP-Text .ABP-Comment-Send{
	height: 100%;
    border: none;
    border-radius: 0 5px 5px 0;
	line-height: 30px;
	opacity: .8
}
.ABP-Unit.has-next[theme="YouTube"] .ABP-Bottom .ABP-Next{
	left:55px;
	display:inline;
	fill:rgba(255,255,255,.8);
}
.ABP-Unit.has-next[theme="YouTube"] .ABP-Bottom .ABP-Next:active{
	fill:rgb(0, 161, 216);
}
.ABP-Unit.has-next[theme="YouTube"] .ABP-Control .button.ABP-Volume{
	left:88px
}
.ABP-Unit.has-next[theme="YouTube"] .ABP-Control .volume-bar{
	left: 110px;
}
.ABP-Unit.has-next[theme="YouTube"] .ABP-Control .time-label{
    left: 110px;
}
.ABP-Unit.has-next[theme="YouTube"] .ABP-Control .time-jump{
    left: 120px;
}
.ABP-Unit.has-next.volume-show[theme="YouTube"]:not(.ABP-Mini) .ABP-Control .time-label{
	left:175px;
}
.ABP-Unit.has-next.volume-show[theme="YouTube"]:not(.ABP-Mini) .ABP-Control .time-jump{
	left:185px;
}
.ABP-Unit.has-next[theme="YouTube"] .ABP-Text {
	left: 235px;
}
.ABP-Unit.volume-show[theme="YouTube"]:not(.ABP-Mini) .ABP-Text{
	left:290px
}